/*---------------------------------------------------- ABOUT DESKTOP ----------------------------------------------------*/

#user-experience {
  margin-top: 2%;
}

#user-experience,
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0%;
}

.containers {
  background: linear-gradient(0deg, #0A0E12 0%, #1B242D 100%);
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 440px;
}

.about-text {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 2;
}

.subtitles {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 3px;
}

#container1,
#container3 {
  border-radius: 70px 0px 0px 70px;
  width: 40%;
}

#container2 {
  border-radius: 0px 70px 70px 0px;
  width: 35%;
}

.about-img {
  height: 440px;
  object-fit: cover;
}

#img-1,
#img-3 {
  width: 35%;
  border-radius: 0px 70px 70px 0px;
}

#img-2 {
  width: 40%;
  border-radius: 70px 0px 0px 70px;
}

#bottom-section {
  margin-bottom: 4%;
}

/* MEDIA QUIERIES MOBILE & IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {
  .section {
    flex-direction: column;
  }

  #container1,
  #container2,
  #container3 {
    background: linear-gradient(180deg, #0A0E12 0%, #1B242D 100%);
    border-radius: 0px 0px 70px 70px;
    order: 2;
  }

  #img-1,
  #img-2,
  #img-3 {
    border-radius: 70px 70px 0px 0px;
  }
}

/* MEDIA QUIERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {

  #user-experience {
    padding-top: 4%;
  }

  .section {
    padding: 8% 0%;
  }

  #container1,
  #container2,
  #container3 {
    width: 90%;
    padding: 10% 7%;
    height: fit-content;
  }

  #img-1,
  #img-2,
  #img-3 {
    width: 90%;
    height: 300px;
  }

  .about-text {
    font-size: .9rem;
  }

  .subtitles {
    font-size: 1.3rem;
  }

  #bottom-section {
    padding: 0;
    margin-bottom: 10%;
  }
}

/*-------------------------MEDIA QUIERIES IPAD ---------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  #container1,
  #container2,
  #container3,
  #img-1,
  #img-2,
  #img-3 {
    width: 80%;
  } 

  .about-img {
    height: 350px;
  }
}
  
 