/*---------------------------------------------------- ABOUT DESKTOP ----------------------------------------------------*/

#user-experience {
  margin-top: 2%;
}

#user-experience,
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  flex: 1 1 100px;
}

.container1,
.container2,
.container3 {
  background: linear-gradient(0deg, #0A0E12 0%, #1B242D 100%);
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 440px;
}

.about-text {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 2;
}

.subtitles {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 3px;
}

.container1 {
  border-radius: 70px 0px 0px 70px;
  width: 40%;
}

.container2 {
  border-radius: 0px 70px 70px 0px;
  width: 35%;
}

.container3 {
  border-radius: 70px 0px 0px 70px;
  width: 40%;
}

.About1,
.About2,
.About3 {
  height: 440px;
  object-fit: cover;
}

.About1,
.About3 {
  width: 35%;
  border-radius: 0px 70px 70px 0px;
}

.About2 {
  width: 40%;
  border-radius: 70px 0px 0px 70px;
}

#bottom-section {
  margin-bottom: 4%;
}

/*-------------------------MEDIA QUIERIES MOBILE ---------------------------*/

@media only screen and (min-width: 0px) and (max-width: 767px) {
  #user-experience,
  .section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
  }

  .About1,
  .About2,
  .About3 {
    width: 90%;
    object-fit: cover;
    border-radius: 15px;
    height: 300px;
  }

  .About1,
  .About3 {
    order: 1;
  }

  .container1,
  .container2,
  .container3 {
    width: 90%;
    border-radius: 15px;
    padding: 40px 30px;
    height: auto;
  }

  .container1,
  .container3 {
    order: 2;
  }

  .about-headlines {
    font-size: 24px;
  }

  .about-text {
    font-size: 14px;
  }
}

/*-------------------------MEDIA QUIERIES IPAD ---------------------------*/

@media only screen and (min-width: 1080px) and (max-width: 1398px) {
  #user-experience {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  #user-experience,
  .section {
    margin-top: 30px;
    display: flex;
    padding: 10px 0px;
  }

  .About1,
  .About2,
  .About3 {
    width: 38%;
    object-fit: cover;
    height: 400px;
  }

  .container1,
  .container2,
  .container3 {
    width: 90%;
    padding: 40px 30px;
    height: 400px;
  }

  .about-headlines {
    font-size: 26px;
  }

  .about-text {
    font-size: 16px;
  }
}
  
  /* MEDIA QUERIES */
  
  @media only screen and (min-width: 0px) and (max-width: 1180px) {}
  
  @media only screen and (min-width: 767px) and (max-width: 1180px) {
  
    .container {
      height: 550px;
    }
  
    .about-text {
        padding: 4% 10%;
    }
    }
    
  @media only screen and (min-width: 0px) and (max-width: 767px) {
        .container {
          position: unset;
          flex-direction: column;
        }
    
        .about-text {
          padding: 10% 10% 12%;
          position: unset;
          background: linear-gradient(180deg, #090C10 70%, rgba(9, 12, 16, 0.00) 100%);
        }
  
    }