.container {
    padding: 5% 0%;
}

h2 {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.shoppingbag {
    width: 80%;
    margin: 0 auto;
    background: rgba(16, 22, 28, 0.95);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 3% 6%;
}

.shoppingbag .button {
    align-self: end;
    margin-right: 10%;
    margin-top: 5%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 20px 0px;
}

input { 
    width: 35%;
    height: 42px;
    padding-left: 12%;
}

.product-image img {
    height: 80%;
    width: 80%;
    border-radius: 6px;
}

.column {
    display: flex;
    align-items: center;
}

#remove {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 105, 105);
    color: rgb(252, 252, 252);
    border-radius: 50px;
}

@media only screen and (min-width: 0px) and (max-width: 1080px) {
    .grid-wrapper {
        overflow: auto;
    }

    .grid {
        min-width: 700px;
    }
}