.container {
    padding: 5% 0%;
}

h2 {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.shoppingbag {
    width: 80%;
    margin: 0 auto;
    background: rgba(16, 22, 28, 0.95);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 3% 6%;
}

.shoppingbag .subtitles {
    font-size: 1.6rem;
}

.shoppingbag .button {
    align-self: end;
    margin-right: 10%;
    margin-top: 5%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 20px 0px;
}

input { 
    width: 35%;
    height: 42px;
    padding-left: 12%;
}

.product-image img {
    height: 80%;
    width: 80%;
    border-radius: 6px;
    object-fit: cover;
}

.column,
.column > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 105, 105);
    color: rgb(252, 252, 252);
    border-radius: 50px;
    cursor: pointer;
}

.mobile {
    display: none;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    
    .shoppingbag {
        width: 90%;
        padding: 5% 10%;
    }
    .shoppingbag .subtitles {
        font-size: 1.2rem;
        padding-top: 8%;
    }

    .grid .column {
        display: none;
    }

    .grid {
        display: unset;
    }

    .mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-top: 10%;
    }

    .column-1 {
        height: 150px;
        width: 100%;
        grid-column: 1/2;
    }

    .column-2 {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        gap: .6rem;
    }

    .product-image {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .quantity input {
        width: 70%;
    }

    .quantity {
        display: inline-flex;
        align-items: center;
        gap: .5rem;
    }

    .remove {
        height: 30px;
        width: 30px;
    }

    .shoppingbag .button {
        margin: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {

    .grid .column {
        display: none;
    }

    .grid {
        display: unset;
    }

    .mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6rem;
        margin-top: 5%;
    }

    .column-1 {
        height: 250px;
        width: 100%;
        grid-column: 1/2;
    }

    .column-2 {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .product-image {
        height: 100%;
        width: 80%;
    }

    .remove {
        margin-top: 5%;
    }
}