/* FOOTER */
  
footer {
    color: white;
    width: 100%;
    padding: 3% 0%;
    background-color: #10161C;
  }
  
  .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    gap: 40px;
    margin: 0 auto;
    padding-left: 5%;
  }
  
  .footer-nmbr,
  .footer-mail {
    display: flex;
    gap: 10px;
  }
  
  #contact-information-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .footer-heading {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1;
  }
  
  .footer-p {
    font-weight: 300;
    font-size: 15px;
  }
  
  .contact-footer {
    padding-top: 6%;
  }
  
  .follow-icons {
    display: flex;
    gap: 20px;
    padding-top: 4%;
  }
  
  .follow-btn {
    font-size: 1.7rem;
    color: white;
  }
  
  .follow-btn i:hover {
      transform: rotate(360deg) scale(1.2);
      transition: .8s;
  }
  
  .footer-heading:hover,
  .follow-btn:hover,
  .follow-btn:focus,
  .footer-heading:focus {
    color: #FF6509;
    transition: .2s;
  }

  /* MEDIA QUERIES IPAD */

  @media only screen and (min-width: 768px) and (max-width: 1180px) {
    .footer-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 50px;
      margin: 0 auto;
      padding: 3% 10% 0%;
    }

    .contact-footer {
      padding-top: 2%;
    }

    .follow-icons {
      padding-top: 0;
    }

    .footer-p {
      padding: 0;
      line-height: 1.5;
    }
  }

  /* MEDIA QUERIES MOBILE */

  @media only screen and (min-width: 0px) and (max-width: 767px) {
    footer {
      padding: 10% 0%;
    }

    .footer-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 20px;
      margin: 0 auto;
    }

    .contact-footer {
      padding-top: 2%;
    }

    .contact-icon {
      font-size: .8rem;
    }

    .follow-icons {
      padding-top: 0;
    }

    .follow-btn {
      font-size: 1.2rem;
    }

    .footer-p {
      padding: 0;
      line-height: 1.8;
      font-size: .9rem;
    }
  }