/* NEWSLETTER */
  
#newsletter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background-color: #080B0E;
    width: 100%;
    padding: 5% 10%;
  }
  
  .newsletter-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
  }
  
  #newsletter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    gap: 2%;
    margin: 3% 0%;
  }
  
  #email {
    width: 60%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    border: none;
    padding-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

/* MEDIA QUERIES MOBILE & IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {
  .newsletter-text {
    width: 100%;
  }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    
    #newsletter-container {
      padding: 10%;
    }

    .info-subtitle {
      padding-bottom: 3%;
    }

    .newsletter-text {
      font-size: .8rem;
    }

    #newsletter {
      flex-direction: column;
      height: fit-content;
      gap: 1rem;
    }

    #email {
      height: 42px;
      width: 100%;
    }

    #email::placeholder {
      font-size: .8rem;
      padding-left: 6%;
    }
  }

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
  #newsletter-container {
    padding: 8% 17%;
  }
}